.home {
  .container {
    .home-policy {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 1px solid #ebebeb;

      .home-policy-item {
        padding: 22px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        img {
          width: 36px;
          height: 36px;
          object-fit: contain;
          margin-right: 16px;
        }

        .policy-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;

          span {
            color: #6b6b6b;
          }

          b {
            display: block;
          }
        }
      }
    }

    .home-vendor {
      margin-top: 60px;
      max-width: 1200px;
      margin: 60px auto 0;

      .home-vendor-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        h2 {
          font-size: 24px;
          font-weight: bold;
        }
      }

      .home-vendor-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 30px auto 0;

        img {
          display: block;
        }
      }
    }

    .home-hot-deal {
      max-width: 1200px;
      margin: 60px auto 0;

      .home-hot-deal-head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 24px;
          font-weight: bold;
        }

        a {
          color: #248fed;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .home-hot-deal-body {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
      }
    }
  }
}
